<h1>Olut API etusivu!</h1>
<img src="ipa-api.png" alt="IPA API bottles"/>
<a href="http://localhost:8082/home/add">Lisää uusi olut tietokantaan</a>
<h2>Haku</h2>
<form onsubmit="searchApi()" action="#">
    <input type="text" id="searchField"/>
    <input type="submit" value="Hae"/>
</form>
<div id="resultDiv">
</div>

<script>
    let baseApiUrl = "http://localhost:8082/api/oluet/";

    function searchApi() {
        let query = document.getElementById("searchField").value;
        const xmlhttp = new XMLHttpRequest();
        const url = baseApiUrl + "haku/" + query;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                showResult(xmlhttp.responseText);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function showResult(json) {
        let res = JSON.parse(json);
        let resDiv = document.getElementById("resultDiv");
        let n = 0;
        let innerHtml = "";
        for (let i = 0; i < res.length; i++) {
            console.log("Adding HTML (" + n++ + ") - " + res[i].nimi);
            // element.innerHTML +=  <---- Tosi raskas operaatio, siks appendataan stringiä ja lopuksi yksi kutsu
            /*
            resDiv.innerHTML += "<h3>" + res[i].nimi + "</h3>";
            resDiv.innerHTML += "<p>Valmistaja: " + res[i].valmistaja;
            resDiv.innerHTML += "<p>Tyyppi: " + res[i].tyyppi;
            resDiv.innerHTML += "<p>Alkoholi: " + res[i].alkoholi + "%";
            resDiv.innerHTML += "<p>Kuvaus: " + res[i].maku;
            resDiv.innerHTML += "<p>Suositukset: " + res[i].ruoka;
            resDiv.innerHTML += "<br>";
            */
            innerHtml += "<h3>" + res[i].nimi + "</h3>";
            innerHtml += "<p>Valmistaja: " + res[i].valmistaja + "</p>";
            innerHtml += "<p>Tyyppi: " + res[i].tyyppi + "</p>";
            innerHtml += "<p>Alkoholi: " + res[i].alkoholi + "%</p>";
            innerHtml += "<p>Kuvaus: " + res[i].maku + "</p>";
            innerHtml += "<p>Suositukset: " + res[i].ruoka + "</p><br>";
        }
        resDiv.innerHTML = innerHtml;
    }
</script>