<h1>Olut API etusivu!</h1>
<h2>Haku</h2>
<form>
    <input type="text" id="searchField"/>
    <input type="button" value="Hae" onclick="searchApi()"/>
</form>
<div id="resultDiv">
</div>

<script>
    let baseApiUrl = "http://localhost:8082/api/oluet/";

    function searchApi() {
        let query = document.getElementById("searchField").value;
        const xmlhttp = new XMLHttpRequest();
        const url = baseApiUrl + "haku/" + query;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                showResult(xmlhttp.responseText);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function showResult(json) {
        let res = JSON.parse(json);
        let resDiv = document.getElementById("resultDiv");
        resDiv.innerHTML = "";
        for (let i = 0; i < res.length; i++) {

            // Hae nykyisen oluen tyypit listasta merkkijonoksi
            let tyypit = "";
            for (let j = 0; j < res[i].tyyppi.length; j++) {
                tyypit += res[i].tyyppi[j];
                if (j < res[i].tyyppi.length - 1) tyypit += ", ";
            }

            // Hae nykyisen oluen maut listasta merkkijonoksi
            let maut = "";
            for (let j = 0; j < res[i].maku.length; j++) {
                maut += res[i].maku[j];
                if (j < res[i].maku.length - 1) maut += ", ";
            }

            // Hae nykyisen oluen ruokasuositukset listasta merkkijonoksi
            let ruuat = "";
            for (let j = 0; j < res[i].ruoka.length; j++) {
                ruuat += res[i].ruoka[j];
                if (j < res[i].ruoka.length - 1) ruuat += ", ";
            }

            resDiv.innerHTML += "<h3>" + res[i].nimi + "</h3>";
            resDiv.innerHTML += "<p>Valmistaja: " + res[i].valmistaja;
            resDiv.innerHTML += "<p>Tyyppi: " + tyypit;
            resDiv.innerHTML += "<p>Alkoholi: " + res[i].alkoholi + "%";
            resDiv.innerHTML += "<p>Kuvaus: " + maut;
            resDiv.innerHTML += "<p>Suositukset: " + ruuat;
            resDiv.innerHTML += "<br>";
        }
    }
</script>